<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sjianjun.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_xue_xi"
        android:label="${app_name}"
        android:theme="@style/AppTheme.DayNight"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label">
        <activity android:name=".module.script.EditJavaScriptActivity" />
        <activity android:name=".module.reader.activity.BookReaderActivity" />

        <!-- 适配华为（huawei）刘海屏 沉浸式 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!-- 适配小米（xiaomi）刘海屏 沉浸式 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".module.splash.SplashActivity"
            android:theme="@style/Splash">

        </activity>
        <activity
            android:name=".module.main.MainActivity"
            android:theme="@style/Splash"
            android:autoRemoveFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.bookcity.QQAuthLoginReceiveActivity"
            android:launchMode="singleInstance"
            android:theme="@style/translucent">
            <intent-filter>
                <data
                    android:host="ssl.ptlogin2.qq.com"
                    android:path="/jump"
                    android:scheme="https" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.reader.activity.FileImportActivity"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="*" />
                <data android:host="*" />
                <data android:pathPattern=".*.txt" />
            </intent-filter>

        </activity>
    </application>

</manifest>