<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_xue_xi"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.DayNight"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".module.reader.activity.BrowserReaderActivity"
            android:exported="false" />
        <activity
            android:name=".module.verification.WebViewVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".module.reader.activity.BookReaderActivity"
            android:launchMode="singleTask" /> <!-- 适配华为（huawei）刘海屏 沉浸式 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 沉浸式 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".module.main.MainActivity"
            android:autoRemoveFromRecents="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.bookcity.QQAuthLoginReceiveActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/translucent">
            <intent-filter>
                <data
                    android:host="ssl.ptlogin2.qq.com"
                    android:path="/jump"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.script.EditJavaScriptActivity" />
    </application>

</manifest>